name: build

on:
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/*.yml'
      - '.pre-commit-config.yaml'
      - '.yamllint'
      - 'pyproject.toml'
      - 'tox.ini'
      - 'mypy.ini'
  push:
    branches:
      - master

jobs:
  prek:
    name: Generic prek checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.9

      - uses: j178/prek-action@v1.1.0
        with:
          extra-args: --all-files --skip mypy

  mypy:
    name: Mypy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.9

      - uses: j178/prek-action@v1.1.0
        with:
          extra-args: --all-files mypy

  tests:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        python: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    name: ${{ matrix.os }}/tests_${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6.2.0
        with:
          python-version: ${{ matrix.python }}

      - run: pip install tox tox-gh-actions

      - run: python -m tox

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          name: codecov-${{ matrix.python }}
          token: ${{ secrets.CODECOV_TOKEN }}
