name: Checks for every commit

on:
  pull_request: ~
  push:
    branches:
      - master


jobs:
  commitsar:
    name: Verify commit messages
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Run commitsar
        uses: docker://commitsar/commitsar:0.16.0
