name: Update pre-commit

on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  release:
    name: Update pre-commit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 1
          submodules: true

      - run: pip install pre-commit
      - run: pre-commit autoupdate

      - name: Open pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          title: Update pre-commit
          body: Automatically update pre-commit
          commit-message: 'chore: Update pre-commit'
          committer: 'Stranger6667 <dmitry@dygalo.dev>'
          author: 'Stranger6667 <dmitry@dygalo.dev>'
          branch: "create-pull-request/update-pre-commit"
